.sidebar {
  display: flex;
  flex: 0.35;
  height: 100vh;
  background-color: #37393f;
}
.sidebar .sidebarLeft {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202226;
  padding: 7px 15px;
}
.sidebar .sidebarLeft .serverIcon {
  width: 60px;
  height: 60px;
  background-color: #37393f;
  border-radius: 9999px;
  margin-bottom: 10px;
  position: relative;
}
.sidebar .sidebarLeft .serverIcon img {
  position: absolute;
  width: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sidebar .sidebarRight {
  background-color: #2f3137;
  width: 300px;
}
.sidebar .sidebarRight .sidebarTop {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}