nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #cb9c54;
  gap: 45px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: cadetblue;
  transition: all 0.2s;
}

nav svg {
  margin-right: 5px;
}